[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-flask = "*"
pytest-runner = "*"
pytest-factoryboy = "*"
factory_boy = "*"
coverage = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
psycopg2 = "<2.8"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
tox = "*"

[requires]
python_version = "3.7"
